@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  background: #000;
  height: auto;
  color: #fff;
}

h1 {
  font-weight: 400;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
  padding: 2rem;
  text-align: center;
  color: #fff;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
  text-transform: capitalize;
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: #fff;
}

img {
  display: block;
  width: 100%;
}

main {
  max-width: 900px;
  margin: auto;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
  background: #fff;
  padding: 2rem;
}

#landing {
  background: #000;
}

#landing-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
}

#landing-text h2 {
  font-size: 2rem;
  color: #fff;
}

#landing-image {
  background: url(https://source.unsplash.com/De8wMYoSSBc);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  margin: 0;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  background: #fff;
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  transition: background 500ms ease;
}

.btn:hover {
  background: #000;
  color: #fff;
}

#header {
  padding: 1.5rem;
  text-align: center;
  background: #fff;
  color: #000;
}

#header h2 {
  border-left: dotted 1px #000;
  border-right: dotted 1px #000;
  display: inline-block;
  padding: 0 1rem;
}

.caption {
  padding: 0.8rem;
  text-align: center;
  background: #000;
  color: #fff;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  background: #000;
  color: #fff;
}

footer h3 {
  font-size: 2rem;
  margin-bottom: 0;
}